// Body
$body-bg: #eeeeee;
$max-width: 600px;

// Typography
$font-family-roboto: "Roboto", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #008cff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$border-color: #a4a4a4;

// Border
$radius: 10px;
$border: 2px solid $border-color;

// Transition
$box-shadow: 5px 5px rgba($blue, 0.2);
$transition-duration: 0.2s ease-in-out;
$box-shadow-transition: box-shadow $transition-duration;
