@import "./variables";

.form {
    max-width: $max-width;

    .form-group {
        input,
        label,
        textarea {
            display: block;
            width: 100%;
        }
    }

    .add-comment-button {
        width: auto;
        padding: 1em;
        background-color: white;
        border: $border;
        border-radius: $radius;
        color: $border-color;
        transition: $box-shadow-transition, color $transition-duration;
        cursor: ne-resize;

        .button-text {
            font-weight: 600;
            font-family: $font-family-open-sans;
        }

        &:hover {
            cursor: ne-resize;
            box-shadow: $box-shadow;
            text-decoration: none;
            color: black;
        }
    }
}
