@import "./variables";

.header-nav {
    padding: 1em;

    .header-text {
        color: black;
        cursor: nw-resize;
        font-size: larger;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }
    }
}
