@import "./variables";

.header-nav {
    padding: 1em;
    width: auto;

    .header-text {
        color: black;
        cursor: nw-resize;

        &:hover {
            text-decoration: none;
        }
    }
}
